.header {
    width: 100%;
    height: 60px;
    background-color: #FFF;
}
.header h2{
    text-align: center;
    font-family: Arial;
    font-size: 23px;
}

.wraper {
    margin: 0 auto;
    width: 94%;
}

.all-goods {
    margin-top: 50px;
}

.obj {
    top:0;
    padding-top: 10px;
    margin-left: 7%;
    border-radius: 8px;
    display: inline-block;
    width: 280px;
    height: 480px;
    background-color: #FDF5E6;
}

.obj-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.obj-name{
    padding-bottom: 7px;
    text-align: center;
    padding-top: 7px;
    font-family: Arial;
}

.obj-price {
    text-align: center;
    padding-top: 8px;
}

.obj-description {
    text-align: center;
    font-family: Arial;
}

.obj-key {
    text-align: center;
    opacity: .2;
}